@font-face {
  font-family: 'Exo2';
  src: url(../fonts/Exo2-Variable.ttf)
}

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  src: url(../fonts/Exo2-Italic-Variable.ttf)
}

@font-face {
  font-family: 'Noto';
  src: url(../fonts/NotoSans-Regular.ttf);
}
@font-face {
  font-family: 'Noto';
  font-style: italic;
  src: url(../fonts/NotoSans-Italic.ttf);
}
@font-face {
  font-family: 'Noto';
  font-weight: bold;
  src: url(../fonts/NotoSans-Bold.ttf);
}
@font-face {
  font-family: 'Noto';
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/NotoSans-BoldItalic.ttf);
}
